In [4]:
import numpy as np
import pandas as pd

In [7]:
data_hotel = pd.read_csv("E://Data Set//hotel_bookings.csv")
data_hotel.head(15)

,hotel,is_canceled,arrival_date_year,arrival_date_month,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,country,market_segment,is_repeated_guest,reserved_room_type,assigned_room_type,deposit_type,agent,company,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,2015,July,1,0,0,2,0,PRT,Direct,0,C,C,No Deposit,NaN,NaN,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,2015,July,1,0,0,2,0,PRT,Direct,0,C,C,No Deposit,NaN,NaN,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,2015,July,1,0,1,1,0,GBR,Direct,0,A,C,No Deposit,NaN,NaN,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,2015,July,1,0,1,1,0,GBR,Corporate,0,A,A,No Deposit,304.0,NaN,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,2015,July,1,0,2,2,0,GBR,Online TA,0,A,A,No Deposit,240.0,NaN,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,2015,July,1,0,2,2,0,GBR,Online TA,0,A,A,No Deposit,240.0,NaN,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,2015,July,1,0,2,2,0,PRT,Direct,0,C,C,No Deposit,NaN,NaN,Transient,Check-Out,2015-07-03
7,Resort Hotel,0,2015,July,1,0,2,2,0,PRT,Direct,0,C,C,No Deposit,303.0,NaN,Transient,Check-Out,2015-07-03
8,Resort Hotel,1,2015,July,1,0,3,2,0,PRT,Online TA,0,A,A,No Deposit,240.0,NaN,Transient,Canceled,2015-05-06
9,Resort Hotel,1,2015,July,1,0,3,2,0,PRT,Offline TA/TO,0,D,D,No Deposit,15.0,NaN,Transient,Canceled,2015-04-22
10,Resort Hotel,1,2015,July,1,0,4,2,0,PRT,Online TA,0,E,E,No Deposit,240.0,NaN,Transient,Canceled,2015-06-23
11,Resort Hotel,0,2015,July,1,0,4,2,0,PRT,Online TA,0,D,D,No Deposit,240.0,NaN,Transient,Check-Out,2015-07-05
12,Resort Hotel,0,2015,July,1,0,4,2,0,USA,Online TA,0,D,E,No Deposit,240.0,NaN,Transient,Check-Out,2015-07-05
13,Resort Hotel,0,2015,July,1,0,4,2,1,ESP,Online TA,0,G,G,No Deposit,241.0,NaN,Transient,Check-Out,2015-07-05
14,Resort Hotel,0,2015,July,1,0,4,2,0,PRT,Online TA,0,E,E,No Deposit,241.0,NaN,Transient,Check-Out,2015-07-05

In [14]:
d1 = data_hotel.loc[data_hotel.reservation_status=='No-Show']
d1

,hotel,is_canceled,arrival_date_year,arrival_date_month,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,country,market_segment,is_repeated_guest,reserved_room_type,assigned_room_type,deposit_type,agent,company,customer_type,reservation_status,reservation_status_date
122,Resort Hotel,1,2015,July,4,0,1,1,0,PRT,Direct,0,E,G,No Deposit,250.0,NaN,Transient,No-Show,2015-07-04
328,Resort Hotel,1,2015,July,12,4,10,2,10,PRT,Offline TA/TO,0,D,D,No Deposit,8.0,NaN,Contract,No-Show,2015-07-12
343,Resort Hotel,1,2015,July,12,2,3,2,0,PRT,Online TA,0,F,F,No Deposit,241.0,NaN,Transient,No-Show,2015-07-12
467,Resort Hotel,1,2015,July,17,0,2,2,0,PRT,Online TA,0,A,C,No Deposit,241.0,NaN,Transient,No-Show,2015-07-17
472,Resort Hotel,1,2015,July,17,0,2,1,0,PRT,Offline TA/TO,0,A,A,No Deposit,5.0,NaN,Transient,No-Show,2015-07-17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29537,Resort Hotel,1,2016,October,30,1,0,2,0,PRT,Direct,0,A,A,No Deposit,NaN,NaN,Transient,No-Show,2016-10-30
29694,Resort Hotel,1,2017,January,19,0,1,1,0,PRT,Corporate,1,A,A,No Deposit,NaN,470.0,Transient,No-Show,2017-01-19
32349,Resort Hotel,1,2017,February,17,0,1,1,0,PRT,Corporate,1,A,D,No Deposit,NaN,195.0,Transient,No-Show,2017-02-17
36837,Resort Hotel,1,2017,May,31,2,4,2,0,PRT,Offline TA/TO,0,A,A,No Deposit,143.0,NaN,Transient,No-Show,2017-05-31
40034,City Hotel,1,2015,August,9,2,4,2,0,PRT,Offline TA/TO,0,A,A,No Deposit,27.0,NaN,Transient,No-Show,2015-08-09

In [12]:
d2 = data_hotel.loc[data_hotel.reservation_status.isin(['No-Show'])]
d2

,hotel,is_canceled,arrival_date_year,arrival_date_month,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,country,market_segment,is_repeated_guest,reserved_room_type,assigned_room_type,deposit_type,agent,company,customer_type,reservation_status,reservation_status_date
122,Resort Hotel,1,2015,July,4,0,1,1,0,PRT,Direct,0,E,G,No Deposit,250.0,NaN,Transient,No-Show,2015-07-04
328,Resort Hotel,1,2015,July,12,4,10,2,10,PRT,Offline TA/TO,0,D,D,No Deposit,8.0,NaN,Contract,No-Show,2015-07-12
343,Resort Hotel,1,2015,July,12,2,3,2,0,PRT,Online TA,0,F,F,No Deposit,241.0,NaN,Transient,No-Show,2015-07-12
467,Resort Hotel,1,2015,July,17,0,2,2,0,PRT,Online TA,0,A,C,No Deposit,241.0,NaN,Transient,No-Show,2015-07-17
472,Resort Hotel,1,2015,July,17,0,2,1,0,PRT,Offline TA/TO,0,A,A,No Deposit,5.0,NaN,Transient,No-Show,2015-07-17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29537,Resort Hotel,1,2016,October,30,1,0,2,0,PRT,Direct,0,A,A,No Deposit,NaN,NaN,Transient,No-Show,2016-10-30
29694,Resort Hotel,1,2017,January,19,0,1,1,0,PRT,Corporate,1,A,A,No Deposit,NaN,470.0,Transient,No-Show,2017-01-19
32349,Resort Hotel,1,2017,February,17,0,1,1,0,PRT,Corporate,1,A,D,No Deposit,NaN,195.0,Transient,No-Show,2017-02-17
36837,Resort Hotel,1,2017,May,31,2,4,2,0,PRT,Offline TA/TO,0,A,A,No Deposit,143.0,NaN,Transient,No-Show,2017-05-31
40034,City Hotel,1,2015,August,9,2,4,2,0,PRT,Offline TA/TO,0,A,A,No Deposit,27.0,NaN,Transient,No-Show,2015-08-09

In [24]:
data_hotel['is_canceled'].value_counts()

0    28932
1    11128
Name: is_canceled, dtype: int64

In [30]:
not_cancled_in_2017 = data_hotel[(data_hotel.is_canceled==0)&(data_hotel.arrival_date_year==2017)&(data_hotel.is_repeated_guest==1)]
not_cancled_in_2017['arrival_date_month'].value_counts()

January     145
March       140
February    128
May          95
April        79
June         73
August       50
July         48
Name: arrival_date_month, dtype: int64